.git
.gitignore
.trae
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/.next
**/.idea
**/.vscode
.env
.env.local
.env.production
config.yml
data
logs
*.db
*.sqlite
*.sqlite3
*.xlsx
